<!DOCTYPE html>
<html>
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Employee Form</title>
	
</head>
<body>
 
	<form action="/employee_register" method="POST">
		<input type="checkbox" id="physical" name="physical" value="true"/>
		<label for="physical">Physical</label>
		<br>

		<input type="checkbox" id="electronics" name="electronics" value="true"/>
		<label for="electronics">Electronics</label>	
		<br>

		<input type="checkbox" id="assembly" name="assembly" value="true"/>
		<label for="assembly">Assembly</label>		
		<br>

		<button type="submit" value="submit">Submit</button>	
	</form>

</body>
</html>
